[includeIf "gitdir:~/nc/"]
    path = ~/.config/git/.gitconfig.work
[includeIf "gitdir:~/sp/"]
    path = ~/.config/git/.gitconfig.work
[includeIf "gitdir:~/dev/"]
    path = ~/.config/git/.gitconfig.personal
[pull]
	rebase = false
[push]
	recurseSubmodules = check
[credential]
	helper = osxkeychain
